<div id="form_area">
  <form action="/result">
    <div class="form-group">
       <label for="sentence">Enter a sentence!
       </label>
       <textarea id="sentence" name="sentence" class="form-control" type="text"></textarea>
    </div>
    <div class="form-group">
       <label for="target_word">Enter the word to search for!
       </label>
       <input id="target_word" name="target_word" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-lg">Submit</button>
  </form>
</div>
