<h1>Hey there!</h1>
<h2>I went ahead and looked that over to make sure you didn't put any punctuation or capital letters in it.</h2>
<h2>Your original input was "<%= @sentence %>" before I processed it.</h2>
<h2>The word "<%= @target_word %>" occurs in the string "<%= @formatted_sentence %>" exactly <%= @result %> times!</h2>
